.btn {
  border-radius: 30px;
  width: 12rem;
  height: 3.125rem;
  padding: 0.8rem;
  margin: 1.5rem;
  color: white;
  border: none;
  @include box-shadow;
  background: $color-button;
  &:hover {
    @include btn-hover;
  }
}

.box-restaurants {
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
      display: block;
    }
  }
}
